<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carosello Mono Array</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script> 
    <script src="js/script.js" defer></script> 
</head>
<body style="background-image: url('img/01.webp');"> 
	<div class="container-blur" id="root" >
		<div class="contents">
			<div class="slider">
				<div class="slider-viewer">
					<div class="controls">
						<button class="btn-left" @click="moveSlide(-1)">&lt;</button>
						<button class="btn-right" @click="moveSlide(1)">&gt;</button>
					</div>

                    <div v-for="(objSlide, i) in arrImages" class="slide" :class="i === activeIndex ? 'active' : '' ">
                        <img :src=" 'img/' + objSlide.image" :alt="objSlide.title">
                        <div class="text">
                            <h2>{{ objSlide.title }}</h2>
                            <p>{{ objSlide.text }}</p>
                        </div>
                    </div>

				</div>

				<div class="thumbs">
                    <img v-for="(objSlide, i) in arrImages" :src="'img/' + objSlide.image" class="thumb-img" :class="i === activeIndex ? 'active' : '' ">
                </div>
			</div>

			<div class="btns">
				<button class="btn-start-stop" data-functionality="stop">Stop</button>
				<button class="btn-invert">Invert</button>
			</div>

            
		</div>
	</div>
</body>
</html>
